main{
	overflow: hidden;
}
h2, h1, h3, h4, h5, h6{
	font-family: unset;
	color: orange;
}
a{
	text-decoration: none;
	text-align: center;
}
a:hover{
	color: black;
}
.span{
	color: black;
}
.button{
	color: black;
	background: orange;
	border: 0px;
	font-family: unset;
	border-radius: 20px;
	font-size: 18px;
}
.button:hover{
	background: #e07d04;
}
.form-button{
	height: 35px;
	width: 100px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.boxshadow{
	box-shadow: 0px 0px 14px 1px #9d978d;
	border-radius: 10px
}
.input-box{
	height: 5vh;
	box-shadow: 0px 0px 0px 0px orange;
}

.label{
	font-size: 12px;
	color: red;
}

/*-----------------------------------------------------------------*/

/* HOME section */

#main-div{
	background: white;
}
#home-h2{
	letter-spacing: 5px;
	font-size: 40px;
}
#home-input-div{
	margin-top: 35%;
	padding-left: 10%;
}
#home-search-bar{
	width: 80%;
	height: 50px;
	border: 3px solid;
	border-radius: 25px;
	margin-top: 5%;
}
#earth-div{
	padding: 0px;
}

/* home butttons*/
#home-button-div{
	display: flex;
	justify-content: flex-start;
	padding-left: 10%
}
.home-btn{
	margin-top: 20px;
	margin-right: 30px;
	width: 120px;
	height: 45px;
}

@media screen and (max-width: 1000px){
	#body{
		overflow: hidden;
	}	
}
/* 700px to 1200px padding-top: 25%;*/

/*END home section*/
/*--------------------------------------------------------------------*/

#inner-first-div{
	width: 23%;
	overflow-y: scroll;
	height: 100vh;
}
#inner-middle-div{
	width: 50%;
}
#phone-logo-div{
	margin-top: 40%;
	border-top: solid ;
	border-radius: 30px;
}
#name-display-div{
	font-size: 20px;
	padding-top: 5%;
	text-align: justify;
	padding-left: 60px;
	color: green;
}
#names-div{
	display: flex;
}
#names-div i{
	padding-right: 10px;
	color: orange;
}


/*inner search bar*/
#inner-search-div{
	text-align: center;
	padding-bottom: 10%;
	display: flex;
}
#inner-searchbar-div{
	width: 100%;
}
#inner-search-btn-div{
	padding-top: 1%;
	margin-left: -45px;
}
#inner-search-bar{
	width: 80%;
	height: 50px;
	border: 3px solid;
	border-radius: 25px;
	margin-top: 5%;
}

/* all data displaying div */

#all-data-div{
	display: flex;
	justify-content: center;
}
#user-details-heading-div{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#complete_data{
	width: 100%;
	text-align: -webkit-center;
}
#user-details-div{
	background: white;
	width: 50%;
}
#user-details-logo-div{
	padding-top: 10px;
	text-align: center;
}
#open-book-logo{
	font-size: 40px;
	color: red;
	padding-top: 5px;
	padding-bottom: 15px;
}
#user-details-image{
	width: 100%;
	object-fit: contain;
	height: 15vh;
}
.storing-variables{
	display: none;
}

/* FORM - user data inserting form*/

#save_form{
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
	display: none;
}

/* FORM - user data update form */

#update_form{
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
	display: none;
}

/* FORM delete confirmation form */

#delete_confirmation_form{
	margin-top: 100px;
	text-align: center;
	display: none;
}
#delete-confirmation-button-div{
	display: flex;
	padding-left: 25px;
}
#yes-button{
	background: wheat;
}
#delete-confirmation-text-div{
	font-size: 20px;
	font-family: inherit;
	color: #b70000;
	padding-top: 15px
}

/* Inner thrid  buttons div */

#inner-third-div{
	width: 27%;
	background: white;
	padding-top: 10px;
	display: flex;
}
.third-btns{
	background: #e1dada;
	width: 150%;

}

/*bootsrap toast*/

#toast-div{
	position: absolute;
	top: 25%;
	width: 22%;
}
.toast{
	margin-bottom: 10px;
}

.toast:not(.show){
	display: block;
}
.toast-header{
	background: #fee0ab;
}

.toast-logo{
	margin-right: 10px;
}
.toast-add{
	color: green;
}
.toast-delete{
	color: red;
}


