main{
	overflow: hidden;
}
h2, h1, h3, h4, h5, h6{
	font-family: unset;
	color: orange;
}
a{
	text-decoration: none;
	text-align: center;
}
a:hover{
	color: black;
}
.span{
	color: black;
}
.button{
	color: black;
	background: orange;
	border: 0px;
	font-family: unset;
	border-radius: 20px;
	font-size: 18px;
}
.button:hover{
	background: #e07d04;
}
.form-button{
	    height: 35px;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.boxshadow{
	box-shadow: 0px 0px 14px 1px #9d978d;
	border-radius: 10px
}
.input-box{
	    height: 5vh;
	    box-shadow: 0px 0px 0px 0px orange;
}

.label{
	font-size: 12px;
    color: red;
}

/*-----------------------------------------------------------------*/

/* HOME section */

#main-div{
	background: white;
}
#home-h2{
	letter-spacing: 5px;
	font-size: 40px;
}
#home-input-div{
	margin-top: 35%;
	padding-left: 10%;
}
#home-search-bar{
	width: 80%;
	height: 50px;
	border: 3px solid;
	border-radius: 25px;
	margin-top: 5%;
}
#earth-div{
	padding: 0px;
}

/* home butttons*/
#home-button-div{
	display: flex;
	justify-content: flex-start;
	padding-left: 10%
}
.home-btn{
	margin-top: 20px;
	margin-right: 30px;
	width: 120px;
	height: 45px;
}

@media screen and (max-width: 1000px){
	#body{
		overflow: hidden;
	}	
}
/* 700px to 1200px padding-top: 25%;*/

/*END home section*/
/*--------------------------------------------------------------------*/

#inner-first-div{
	width: 23%;
}
#inner-middle-div{
	width: 50%;
}
#inner-third-div{
	width: 27%;
	background: red;
	display: none;
}
#phone-logo-div{
	margin-top: 40%;
	border-top: solid ;
	border-radius: 30px;
}
#name-display-div{
	font-size: 20px;
	padding-top: 5%;
	text-align: center;
}

/*inner search bar*/
#inner-search-div{
	text-align: center;
	padding-bottom: 10%;
}
#inner-search-bar{
	width: 80%;
	height: 50px;
	border: 3px solid;
	border-radius: 25px;
	margin-top: 5%;
}

/* all data displaying div */

#all-data-div{
	display: flex;
	justify-content: center;
}
#user-details-heading-div{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#user-details-div{
	display: none;
	background: white;
	width: 50%;
}
#user-details-logo-div{
	padding-top: 10px;
	text-align: center;
}
#open-book-logo{
	font-size: 40px;
	color: red;
	padding-top: 5px;
	padding-bottom: 15px;
}
#user-details-image{
	width: 100%;
    object-fit: contain;
    height: 15vh;
}

/* FORM - user data inserting form*/

#save_form{
	    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

